body{
    margin:0;
    background:#030b20;
    color:white;
    font-family:Arial,sans-serif;
}

header{
    padding:20px;
    text-align:center;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:60px;
    color:#4f8cff;
}

button{
    padding:12px 20px;
    margin:10px;
    background:#4f8cff;
    border:none;
    color:white;
    border-radius:8px;
}

.features{
    display:flex;
    gap:20px;
    justify-content:center;
    padding:40px;
}

.card{
    border:1px solid #4f8cff;
    padding:20px;
    width:250px;
}